<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ShopManagementConnectionString" connectionString="Data Source=.;Initial Catalog=ShopManagement;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="ShopManagement.Properties.Settings.ShopManagementConnectionString"
   connectionString="Data Source=DESKTOP-MF46S1M\SQLEXPRESS;Initial Catalog=ShopManagement;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>